@font-face {
  font-family: "my-font";
  src: url("../fonts/PatrickHand-Regular.ttf");
}

body {
  font-size: 18px;
  font-family: "my-font";
  background-color: #0cf;
  color: white;
}

p {
  text-align: justify;
}

figure {
  border: 2px groove #ffffff;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  margin: 10px;
  max-width: 500px;
}

img {
  max-width: 500px;
}
