.people {
  overflow: auto;
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
}

.name {
  width: 30%;
  float: left;
  padding-right: 9px;
}

.biography {
  width: 70%;
  float: left;
  padding-left: 9px;
}

#zuck
 {
  background-color: #ff3385;
  color: #4dffff;
}

#elon {
  background-color: #3385ff;
  color:  #ffff00;
}

#larry {
  background-color:  #ff8080;
  color: #3385ff;
}

#steve {
  background-color: #ff8533;
  color: #cc33ff;
}
