.people {
  margin: 10px;
  padding: 19px 19px 19px 19px;
}
#zuck {
  background-color: #ff3385;
  color: white;
}
#elon {
  background-color: #0cf;
  color: white;
}
#larry {
  background-color: #ff3385;
  color: white;
}
#steve {
  background-color: #ff3385;
  color: white;
}
